---
const year = new Date().getFullYear();
---

<footer class="site-footer">
	<div class="container">
		<span>© Copyright {year} - Albert Lea Apartments. All rights reserved.</span>
	</div>
</footer>

<style>
	.site-footer {
		background: var(--color-footer-bg);
		color: var(--color-footer-text);
		font-size: 12px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
</style>
